@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode variables */
:root {
  --border: 223.2 84% 94%;
  --input: 220 40% 96%;
  --ring: 223.2 84% 94%;
  --background: 223.2 84% 94%;
  --foreground: 220 40% 10%;
  --primary: 207 82% 66%;
  --primary-foreground: 210 40% 98%;
  --secondary: 207 82% 46%;
  --secondary-foreground: 210 40% 98%;
  --destructive: 0 82% 66%;
  --destructive-foreground: 0 40% 10%;
  --muted: 210 40% 96%;
  --muted-foreground: 222.2 84% 4.9%;
  --accent: 50 100% 50%;
  --accent-foreground: 50 50% 10%;
  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  /* Custom theme colors */
  --customPrimary: #41467e;
  --customSecondary: #4a6570;
  --customAccent: #21ced4;
  --customBackground: #fff;
  --customText: #333;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --border: 222.2 84% 4.9%;
    --input: 220 40% 10%;
    --ring: 222.2 84% 4.9%;
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 207 82% 66%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 82% 46%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 82% 66%;
    --destructive-foreground: 0 40% 10%;
    --muted: 210 40% 30%;
    --muted-foreground: 222.2 84% 94%;
    --accent: 50 100% 50%;
    --accent-foreground: 50 50% 10%;
    --popover: 222.2 84% 94%;
    --popover-foreground: 210 40% 10%;
    --card: 222.2 84% 94%;
    --card-foreground: 210 40% 10%;
    /* Custom theme colors */
    --customPrimary: #858383;
    --customSecondary: #222;
    --customAccent: rgb(49, 149, 156);
    --customBackground: #333;
    --customText: #f0f0f0;
  }
}

@layer  base {
  * {
    @apply border-border;
  }
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.search-container {
  /*position: relative;
  width: 300px;
  margin: 0 auto;*/
  /*background-image: url('/dine.jpeg'); /* Replace with your image path */
  background-size: cover;
  width: 100%;
  background-color: hsl(var(--secondary));
  background-position: center;
  padding: 80px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff; /* Adjust text color for better contrast */
}

.search-header {
  color: #fff; /* Adjust for better contrast */
  text-align: center;
  margin-bottom: 20px;
}

.search-input, .search-select {
  margin-bottom: 10px;
}

.search-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid hsl(var(--border));
  border-radius: 4px;
}

.btn-primary {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.btn-secondary {
  @apply bg-gray-500 text-white font-bold py-2 px-4 rounded;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid hsl(var(--border));
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 4px;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: hsl(var(--muted));
}

/* Override yellow hover background */
.menu-icon:hover, .sign-in-button:hover {
  background-color: transparent !important; 
}

/* Specific override for menu icon and sign-in button if they have specific classes */
.menu-icon:hover {
  background-color: transparent !important; /* Remove or set desired background color */
}

.sign-in-button:hover {
  background-color: transparent !important; /* Remove or set desired background color */
}


@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
  }
}